body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    color: #333;
}

#task-list {
    list-style: none;
    padding: 0;
}

.task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #555;
    padding: 15px;
    background-color: #fff;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task-text {
    flex: 1;
    font-size: 18px;
    color: #333;
}

.task-date {
    margin-left: 15px;
    font-size: 16px;
    color: #666;
}

.delete-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.highlight {
            background-color: yellow;
            font-weight: bold;
        }

.delete-button:hover {
    background-color: #c0392b;
}

#search {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#add-task {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#add-task:hover {
    background-color: #27ae60;
}

#new-task,
#due-date {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#new-task {
    width: 60%;
}

#due-date {
    width: 30%;
}
